*.pyc
*.html~
*.p
*.json~

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/*.html

# Installation
build/
dist/
*.egg-info/

# Mac files
*.DS_Store

# Too large, >100MB
data/SIMULATED_DATA/20170324_VENICE_JWST_WORKSHOP/MIRI/MRS/det_image_seq1_MIRIFUSHORT_12SHORTexp1.fits